.activity{
	margin-top: 76px;
	margin-bottom: 120px;

	&__item-wrapper{
		margin-top: 32px;
		position: relative;
		display: flex;
	}

	&__item{
		max-width: 341px;
		max-height: 251px;
	    margin-right: 14px;
	    border-radius: 12px;
	    overflow: hidden;
	    position: relative;

	    &:hover .activity__banner-img{
	    	transform: scale(1.1);
	    }
	}

	&__banner-img{
		width: 341px;
		height: 251px;
		border-radius: 12px;
		transition: .3s ease-in-out;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
	}

	&__item-content{
	    position: absolute;
	    top: 50%;
	    padding: 0 6px;
	    transform: translateY(-50%);
	    width: 100%;
	}

	&__item-title{
		font-size: 24px;
	    font-weight: 700;
	    text-transform: uppercase;
	    text-align: center;
	    color: #fff;
		margin: 0;
	}

	&__item-price{
		font-size: 14px;
		color: #fff;
		text-align: center;
		margin: 0;

	}
}